.btn
  display: inline-flex
  align-items: center
  justify-content: center
  position: relative
  line-height: 1 !important
  white-space: nowrap
  vertical-align: middle
  user-select: none
  text-decoration: none !important
  box-sizing: border-box
  max-width: 100% !important
  transition-duration: .2s
  border-radius: 3px
  span
    font-family: $font-main
    transition-duration: .2s
    color: inherit
  &:hover
    cursor: pointer
  &-small
    height: 41px
    padding: 0 16px
    border-radius: 5px
    span
      font-size: $text-14
  &-medium
    height: 56px
    padding: 0 28px
    border-radius: 5px
    span
      font-size: $text-15
  &-theme
    background-color: $theme-1
    span
      color: $white
    &:hover
      background-color: $theme-2
