input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal
  display: none
  margin: 0
  width: 0
  height: 0

input[type="text"],
textarea
  width: 100%
  box-sizing: border-box
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  background-color: $white
  border: $thin $grey-2
  padding: 18px
  border-radius: 2px
  color: $dark-0
  font-size: $text-15
  &:focus
    border-color: $dark-1
    outline: none
  &::placeholder
    color: rgba($grey-3, .7)
    font-size: $text-14
    font-weight: $fw-regular
    font-style: italic
  &:focus::placeholder
    color: transparent
  &:disabled
    background-color: $white

.f-label
  display: inline-block
  margin-bottom: 10px
  font-size: $text-14
  color: $dark-2
  font-weight: $fw-bold
  &.f-req
    &:before
      content: '*'
      color: $theme-1
      margin-right: 3px

.validation-error
  font-weight: $fw-regular
  color: $theme-1
  margin-left: 10px