section.section-padding
  .container
    .about
      .about-img
        img(src='images/content/about.jpg' alt='About')
      .about-content
        +pagetitle('About','Introducing me is<br>Full Stack Developer', 'mb-30')
        p I use animation as a third dimension by which to simplify experiences and kuiding thro each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
        p I'm professional developer, who really like their job and sincerely appreciate all their customers. I developing web applications of various complexity levels. I create MVP for startups, web services, and API. I automate current business processes and design new ones improving service and helping to increase my customer’s sales figure at the same time.
        p Over the years of experience, I have got the hang of many effective techniques for development that are used to create web projects with smart design and high-quality program code. I save time and money for my customers, always choosing the most effective web solutions for them.
        p I really love whatever I do and always focus on customer’s goals. I develop an individual approach for each project. Each customer may be confident that maximum attention will be given to their project. All projects that I work on are unique and I are rightfully proud of that.
        a.link-underline(href='about.html') About me
